<%- include('./partials/head')   %>  <!-- Incluindo Head-->
 
<body>

  <%- include('./partials/navbar')  %> 
  <div class="container">
    
    <a href="https://"> <span class="material-icons">
      west
      </span> Voltar</a>
      <br> 

<br>

    <div class="card shadow">
      <div class="card-header bg-azulclaro pl-5 p-4">
        <h2 class="card-title"> 
            <span class="material-icons">notifications</span> Avisos Cadastrados </h2> </div>
        <div class="card-body p-5">

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Data</th>
                    <th scope="col">Mensagem</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
            
                    <% if (avisos.length < 1) { %>
                     <tr>
                         <td colspan="5" class="text-center"> Nenhum aviso cadastrado </td>
                     </tr>
                    <% } %>

                  <% avisos.forEach(aviso => { %>
                    <tr>
                        <th scope="row"> <%= aviso.ID_avisos %>  </th>
                        <td> <%= aviso.titulo %>  </td>
                        <td> <%= moment(aviso.data).format("DD/MM/YYYY") %> </td>
                        <td> <%= aviso.mensagem %> </td>
                        <td>
                            <button class="btn btn-secondary">Excluir</button>
                            <button class="btn btn-primary">Alterar</button>
                        </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
     
          </div> <!--card body-->
      </div> <!--card-->
    </div> <!--container -->
    
    

<%- include('./partials/scripts_import') %> <!-- Incluindo Bootstrap -->
  </body>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</html>
